composer.phar
/node_modules
/vendor
/bower_components
target/
dist/
node_modules/
dist/
/.idea
/.vscode
/.vagrant
/.phpdoc
cache
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.pid
*.log

.php_cs.cache
.phpunit.result.cache
.DS_Store
